# Data Analysis with Pandas

<h2> Pandas is a data analysis tool kit which can handle different kinds of data, also handles missing data.</h2>

## Intro to data structures

<ul>
<li><h1>Series</h1></li>
</ul>
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

* syntax:

**import pandas as pd**

**s = pd.Series(data, index=index)**

Here, **data** can be many different things:

<ul>

<li>a Python Data structure like List,Tuple,String,Dict etc</li>

<li>an ndarray</li>

<li>a scalar value (like 5)</li>
</ul>

The passed  **index**  is a list of axis labels.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#passing ndarray(numpy array)
s = pd.Series(np.random.rand(5))
s

0    0.488932
1    0.015735
2    0.263211
3    0.047290
4    0.958560
dtype: float64

In [2]:
s[1:4]

1    0.334976
2    0.597495
3    0.078041
dtype: float64

In [3]:
s = pd.Series(np.random.rand(5), index=['a','b','c','d','e'])
s

a    0.965017
b    0.473399
c    0.536005
d    0.135199
e    0.877168
dtype: float64

In [4]:
s['a':'d']

a    0.965017
b    0.473399
c    0.536005
d    0.135199
dtype: float64

In [5]:
s[::2]

a    0.965017
c    0.536005
e    0.877168
dtype: float64

In [2]:
s1 = pd.Series(np.random.rand(5), index=[1, 2, 3, 4, 5])
s1

1    0.693413
2    0.096268
3    0.145967
4    0.074061
5    0.547686
dtype: float64

In [5]:
s1[2:5]

3    0.145967
4    0.074061
5    0.547686
dtype: float64

In [6]:
#passing list as data
L = pd.Series([12,22,13,43,12])
L

0    12
1    22
2    13
3    43
4    12
dtype: int64

In [3]:
L1=pd.Series([12,22,13,43,12], index=[1,2,3,4,5])
L1

1    12
2    22
3    13
4    43
5    12
dtype: int64

In [6]:
#2-D list
L1=pd.Series([[12,22],[13,43],[12,[1,2]]])
L1

0        [12, 22]
1        [13, 43]
2    [12, [1, 2]]
dtype: object

# From dict

In [8]:
#Passing dictionary as data to Series
d = {'b': [1,2], 'a': [0,4],'c': [2,5]} #key becomes index of series, values becomes data
ss=pd.Series(d)
ss

b    [1, 2]
a    [0, 4]
c    [2, 5]
dtype: object

In [9]:
ss1=pd.Series(d, index=['b', 'c', 'd', 'a','e']) #NaN=>Not a Number
ss1

b    [1, 2]
c    [2, 5]
d       NaN
a    [0, 4]
e       NaN
dtype: object

### Note

NaN (not a number) is the standard missing data marker used in pandas.

### If data is a scalar value, an index provided. The value will be repeated to match the length of index.

In [11]:
pd.Series(5)

0    5
dtype: int64

In [10]:
sc= pd.Series(5, index=['a', 'b', 'c', 'd', 'e'])
sc

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [10]:
s = pd.Series(np.random.randint(5,10,size=(5,)),index=['a', 'b', 'c', 'd', 'e'])
s

a    5
b    8
c    9
d    7
e    5
dtype: int32

### Performing Indexing on Series data

In [11]:
print("Accessing first element of series: ", s[0])
print()
print("Accessing first 3 elements of series:\n ",s[:3])
print()
print("Performing boolean hashing on series data where value > meadian",s[s > s.median()])
print()
print("Accessing 4, 3,1 elements of series: \n",s[[4, 3, 1]])
print()
print("Performing exponential formula on series\n",np.exp(s))

Accessing first element of series:  5

Accessing first 3 elements of series:
  a    5
b    8
c    9
dtype: int32

Performing boolean hashing on series data where value > meadian b    8
c    9
dtype: int32

Accessing 4, 3,1 elements of series:
 e    5
d    7
b    8
dtype: int32

Performing exponential formula on series
 a     148.413159
b    2980.957987
c    8103.083928
d    1096.633158
e     148.413159
dtype: float64

In [12]:
#inserting new value to existing key
s['e'] = 12.0
s

a     5
b     8
c     9
d     7
e    12
dtype: int32

In [13]:
#inserting new key within series
s['f']=23
s

a     5
b     8
c     9
d     7
e    12
f    23
dtype: int64

# DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:
<ul>
<li>Dict of 1D ndarrays, lists, dicts, or Series</li>

<li>2-D numpy.ndarray</li>

<li>Structured or record ndarray</li>


<li>Another DataFrame</li>
</ul>

>**df=pd.DataFrame(data, index=None,columns=None)**
    
    
Along with the data, you can optionally pass <b>index(row labels) and columns (column labels)</b> arguments. If you pass an index and  or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of Series plus a specific index will discard all data not matching up to the passed index.

If axis labels are not passed, they will be constructed from the input data based on common sense rules.

In [22]:
d = {'one': [1., 2., 3., 4.],
    'two': [4., 3., 2., 1.]}

#Passing dict as data to DataFrame, keys becomes col labels of DF, values become data of DF
dd=pd.DataFrame(d, index=['a','b','c','d'], columns=['one','two','three'])
dd

   one  two three
a  1.0  4.0   NaN
b  2.0  3.0   NaN
c  3.0  2.0   NaN
d  4.0  1.0   NaN

In [8]:
dr1={'a':[12],'b':[34],'c':[55]} #vector values for dict keys

#passing seq value as a data
pd.DataFrame(dr1)

    a   b   c
0  12  34  55

In [12]:
dr={'a':12,'b':34,'c':55} #scalar values for dict keys

pd.DataFrame(dr, index=[0]) #ValueError: If using all scalar values, you must pass an index

    a   b   c
0  12  34  55

In [21]:
dt={'a':('Hello',),'b':('overs',)}

dft=pd.DataFrame(dt)#vector values
dft

       a      b
0  Hello  overs

In [14]:
dt1={'a':'Hello','b':'overs'} #string values are also considered as scalar values

dft=pd.DataFrame(dt1, index=[0]) #ValueError: If using all scalar values, you must pass an index
dft

       a      b
0  Hello  overs

In [20]:
#passing data as 2-D list
dt=pd.DataFrame([[10,20],[30,40],[50],[]], index=['a','b','c','d'], columns=['H1','B1'])
dt

     H1    B1
a  10.0  20.0
b  30.0  40.0
c  50.0   NaN
d   NaN   NaN

In [23]:
w=pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
w

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

# Performing Slicing on DataFrame

In [21]:
#Accessing data of dataframe by using column labels

print(w['one'])

a    1.0
b    2.0
c    3.0
d    4.0
Name: one, dtype: float64

In [22]:
#Accessing data of dataframe by row labels

print(w['a'])#KeyError: That means we can't access dataframe data using row labels

KeyError: 'a'

In [44]:
w[0] #index no

KeyError: 0

In [46]:
dzz=pd.DataFrame(data, index=['first', 'second'])
dzz

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [26]:
data2 = [{'a': 1, 'b': 2,'e':34}, {'a': 5, 'b': 10, 'c': 20}]

#NaN's default datatype is float

#list of dictionaries
d1=pd.DataFrame(data2)
d1

   a   b     e     c
0  1   2  34.0   NaN
1  5  10   NaN  20.0

In [25]:
n= float(input("Num: "))
n

Num: 34

34.0

In [27]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   e       1 non-null      float64
 3   c       1 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 192.0 bytes

In [48]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), columns=['a','b','c','d','e','f'])
df

    a   b   c   d   e   f
0  67  41  36  36  42  54
1  47  51  63  48  44  37
2  43  62  38  50  40  44
3  63  44  65  38  35  58
4  40  34  30  53  62  45
5  39  40  61  52  69  47

In [49]:
df[['a','c','e']] #accessing with specific columns

    a   c   e
0  67  36  42
1  47  63  44
2  43  38  40
3  63  65  35
4  40  30  62
5  39  61  69

In [50]:
df[[1,3,4]]#Accessing element of DF by row labels

KeyError: "None of [Int64Index([1, 3, 4], dtype='int64')] are in the [columns]"

In [51]:
#you can perform slicing and Striding on  dataframe rows
df[:6:2]

    a   b   c   d   e   f
0  67  41  36  36  42  54
2  43  62  38  50  40  44
4  40  34  30  53  62  45

# Indexing / selection

The basics of indexing are as follows:


| Operation                   |    Syntax              |           Result   |
|-----------------------------|------------------------|--------------------|
| Select column               |    df[col]             |           Series   |
| Select row by label         |    df.loc[label]       |           Series   |
|Select row by int location   |    df.iloc[locs]       |          Series    |
| Slice rows                  |    df[5:10]            |        DataFrame   |
|Select rows by boolean vector|     df[bool_vec]       |        DataFrame   |

# Indexing and selecting data

Different choices for indexing
Object selection has had a number of user-requested additions in order to support more explicit location based indexing. Pandas now supports three types of multi-axis indexing.

**.loc** is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found. Allowed inputs are:

A single label, e.g. 5 or 'a' (Note that 5 is interpreted as a label of the index. This use is not an integer position along the index.).

A list or array of labels ['a', 'b', 'c'].

A slice object with labels 'a':'f' (Note that contrary to usual python slices, both the start and the stop are included, when present in the index! See Slicing with labels and Endpoints are inclusive.)

A boolean array (any NA values will be treated as False).

A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above).

See more at Selection by Label.

**.iloc** is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array. .iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with Python/NumPy slice semantics). Allowed inputs are:

An integer e.g. 5.

A list or array of integers [4, 3, 0].

A slice object with ints 1:7.

A boolean array (any NA values will be treated as False).

A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above).

See more at Selection by Position, Advanced Indexing and Advanced Hierarchical.

.loc, .iloc, and also [] indexing can accept a callable as indexer. See more at Selection By Callable.

Getting values from an object with multi-axes selection uses the following notation (using .loc as an example, but the following applies to .iloc as well). Any of the axes accessors may be the null slice :. Axes left out of the specification are assumed to be :, e.g. p.loc['a'] is equivalent to p.loc['a', :, :].

Object Type

Indexers

Series

s.loc[indexer]

DataFrame

df.loc[row_indexer,column_indexer]

### IQ: What are loc and iloc in pandas?

# loc example

In [25]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), index=['r1','r2','r3','r4','r5','r6'],columns=['a','b','c','d','e','f'])
df

     a   b   c   d   e   f
r1  44  57  35  59  63  62
r2  42  51  53  52  49  35
r3  58  34  39  64  64  62
r4  64  54  38  59  54  57
r5  59  41  40  44  35  69
r6  58  61  55  65  65  35

# .loc
Accessing data by row labels

In [26]:
df.loc['r3']#It selects 'r3' row and all columns

a    58
b    34
c    39
d    64
e    64
f    62
Name: r3, dtype: int32

In [27]:
df.loc[['r1','r3','r5']]

     a   b   c   d   e   f
r1  44  57  35  59  63  62
r3  58  34  39  64  64  62
r5  59  41  40  44  35  69

In [55]:
df.loc[['r2','r4','r6'],['a','c','f']]

     a   c   f
r2  62  36  45
r4  39  51  56
r6  38  35  55

# iloc
Accessing data by integer location

In [28]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), columns=['a','b','c','d','e','f'])
df

    a   b   c   d   e   f
0  62  35  52  59  51  50
1  61  38  32  33  38  55
2  67  58  60  38  51  61
3  49  59  60  62  42  63
4  30  60  45  46  31  33
5  49  51  36  61  31  49

In [29]:
df.iloc[5]

a    49
b    51
c    36
d    61
e    31
f    49
Name: 5, dtype: int32

In [30]:
df.iloc[[0,2,4,5],[1,3,4,5]]# all integers are indexes

    b   d   e   f
0  35  59  51  50
2  58  38  51  61
4  60  46  31  33
5  51  61  31  49

In [31]:
df.loc[[0,2,4,5],['b','d','e','f']]

    b   d   e   f
0  35  59  51  50
2  58  38  51  61
4  60  46  31  33
5  51  61  31  49

# Importing Data

Use these commands to import data from a variety of different sources and formats.

pd.read_csv(filename) | From a CSV file

pd.read_table(filename) | From a delimited text file (like TSV)

pd.read_excel(filename) | From an Excel file

pd.read_sql(query, connection_object) | Read from a SQL table/database

pd.read_json(json_string) | Read from a JSON formatted string, URL or file.

pd.read_html(url) | Parses an html URL, string or file and extracts tables to a list of dataframes

pd.read_clipboard() | Takes the contents of your clipboard and passes it to read_table()

pd.DataFrame(dict) | From a dict, keys for columns names, values for data as lists

# Exporting Data

Use these commands to export a DataFrame to CSV, .xlsx, SQL, or JSON.

df.to_csv(filename) | Write to a CSV file

df.to_excel(filename) | Write to an Excel file

df.to_sql(table_name, connection_object) | Write to a SQL table

df.to_json(filename) | Write to a file in JSON format

https://pandas.pydata.org/pandas-docs/version/0.22/io.html

# Viewing/Inspecting Data
Use these commands to take a look at specific sections of your pandas DataFrame or Series.

**df.head(n=5)** | First n rows of the DataFrame

**df.tail(n=5)** | Last n rows of the DataFrame

**df.shape** | Number of rows and columns

**df.info()** | Index, Datatype and Memory information

**df.describe()** | Summary statistics for numerical columns

**s.value_counts(dropna=False)** | View unique values and counts

**df.apply(pd.Series.value_counts)** | Unique values and counts for all columns

# Data Cleaning

Use these commands to perform a variety of data cleaning tasks.

**df.columns = ['a','b','c']** | Rename columns

**pd.isnull()** | Checks for null Values, Returns Boolean Arrray

**pd.notnull()** | Opposite of pd.isnull()

**df.dropna()** | Drop all rows that contain null values

**df.dropna(axis=1)** | Drop all columns that contain null values

**df.dropna(axis=1,thresh=n)** | Drop all rows have have less than n non null values

**df.fillna(x)** | Replace all null values with x

**s.fillna(s.mean())** | Replace all null values with the mean (mean can be replaced with almost any function from the statistics module)

**s.astype(float)** | Convert the datatype of the series to float

**s.replace(1,'one')** | Replace all values equal to 1 with 'one'

**s.replace([1,3],['one','three'])** | Replace all 1 with 'one' and 3 with 'three'

**df.rename(columns=lambda x: x + 1)** | Mass renaming of columns

**df.rename(index=lambda x: x + 1)** | Mass renaming of index(rows)

**df.rename(columns={'old_name': 'new_name'})** | Selective renaming

**df.set_index('column_one')** | Change the index

# Filter, Sort, and Groupby

Use these commands to filter, sort, and group your data.

**df[df[col] > 0.5]** | Rows where the column col is greater than 0.5

**df[(df[col] > 0.5) & (df[col] < 0.7)] **| Rows where 0.7 > col > 0.5

**df.sort_values(col1)** | Sort values by col1 in ascending order

**df.sort_values(col2,ascending=False)** | Sort values by col2 in descending order

**df.sort_values([col1,col2],ascending=[True,False])** | Sort values by col1 in ascending order then col2 in descending order

**df.groupby(col)** | Returns a groupby object for values from one column

**df.groupby([col1,col2])** | Returns groupby object for values from multiple columns

**df.groupby(col1)[col2]** | Returns the mean of the values in col2, grouped by the values in col1 (mean can be replaced with almost any function from the statistics module)

**df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean)** | Create a pivot table that groups by col1 and calculates the mean of col2 and col3

**df.groupby(col1).agg(np.mean)** | Find the average across all columns for every unique col1 group

# Join/Combine

Use these commands to combine multiple dataframes into a single one.

**df1.append(df2)** | Add the rows in df1 to the end of df2 (columns should be identical)

**pd.concat([df1, df2],axis=1)** | Add the columns in df1 to the end of df2 (no of rows should be identical)

**df1.join(df2,on=col1,how='inner')** | SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. 'how' can be one of 'left', 'right', 'outer', 'inner'

# Statistics
Use these commands to perform various statistical tests. (These can all be applied to a series as well.)


**df.describe()** | Summary statistics for numerical columns

**df.mean()** | Returns the mean of all columns

**df.corr()** | Returns the correlation between columns in a DataFrame

**df.count()** | Returns the number of non-null values in each DataFrame column

**df.max()** | Returns the highest value in each column

**df.min()** | Returns the lowest value in each column

**df.median()** | Returns the median of each column

**df.std()** | Returns the standard deviation of each column

## Handling database using pandas

In [1]:
import sqlite3
import pandas as pd
con=sqlite3.connect("flights.db")
df=pd.read_sql_query("SELECT * FROM airports", con)
df.head()

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

In [2]:
df.shape

(8107, 13)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8107 entries, 0 to 8106
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      8107 non-null   int64
 1   id         8107 non-null   object
 2   name       8107 non-null   object
 3   city       8107 non-null   object
 4   country    8107 non-null   object
 5   code       5880 non-null   object
 6   icao       8043 non-null   object
 7   latitude   8107 non-null   object
 8   longitude  8107 non-null   object
 9   altitude   8107 non-null   object
 10  offset     8107 non-null   object
 11  dst        8107 non-null   object
 12  timezone   8107 non-null   object
dtypes: int64(1), object(12)
memory usage: 823.5+ KB

In [65]:
df.describe()

             index
count  8107.000000
mean   4053.000000
std    2340.433649
min       0.000000
25%    2026.500000
50%    4053.000000
75%    6079.500000
max    8106.000000

In [66]:
df_airlines=pd.read_sql_query("SELECT * FROM airlines", con)
df_airlines.head()

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N

In [67]:
df_airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6048 entries, 0 to 6047
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     6048 non-null   int64
 1   id        6048 non-null   object
 2   name      6048 non-null   object
 3   alias     5615 non-null   object
 4   iata      1461 non-null   object
 5   icao      5961 non-null   object
 6   callsign  5305 non-null   object
 7   country   6033 non-null   object
 8   active    6048 non-null   object
dtypes: int64(1), object(8)
memory usage: 425.4+ KB

In [68]:
df_airlines.shape

(6048, 9)

In [69]:
df_routes=pd.read_sql_query("SELECT * FROM routes", con)
df_routes.head()

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2
1,1,2B,410,ASF,2966,KZN,2990,None,0,CR2
2,2,2B,410,ASF,2966,MRV,2962,None,0,CR2
3,3,2B,410,CEK,2968,KZN,2990,None,0,CR2
4,4,2B,410,CEK,2968,OVB,4078,None,0,CR2

In [70]:
df_routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       67663 non-null  int64
 1   airline     67663 non-null  object
 2   airline_id  67663 non-null  object
 3   source      67663 non-null  object
 4   source_id   67663 non-null  object
 5   dest        67663 non-null  object
 6   dest_id     67663 non-null  object
 7   codeshare   14597 non-null  object
 8   stops       67663 non-null  object
 9   equipment   67645 non-null  object
dtypes: int64(1), object(9)
memory usage: 5.2+ MB

## Now, you can take a survey on 10 mins to pandas from below link

https://pandas.pydata.org/pandas-docs/version/0.22/10min.html